<form (ngSubmit)="onSubmit(titleInput.value, requestInput.value)" #form>
  <app-control label="Title">
    <input type="text" name="title" id="title" #titleInput #input [(ngModel)]="enteredTitle" />
  </app-control>
  <app-control label="Request">
    <textarea
      type="text"
      name="request"
      id="request"
      #requestInput
      #input
      rows="3"
      [(ngModel)]="enteredText"
    ></textarea>
  </app-control>
  <p>
    <button appButton class="button">
      <span ngProjectAs="btn-title">Submit</span>
      <span class="button__icon">→</span>
    </button>
  </p>
</form>
