:host {
  display: block;
  padding: 1.5rem;
  background-color: var(--card-bg);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.button {
  margin-top: 0.5rem;
  align-self: flex-start;
  padding: .5rem .75rem;
}

@media (min-width: 768px) {
  :host {
    padding: 2rem;
  }

  form {
    gap: 1.5rem;
  }

  label {
    font-size: 1rem;
  }
}
